
/* Link style */
a:link, a:visited {
  color: #232323;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  text-decoration-color: #f3883c;
}

.link {
  text-decoration: underline;
}

.link a:hover, .link a:active {
  color: #f3883c;
}

/* Content style*/
h2, h3, p, table, li {
  font-family: 'Montserrat';
  line-height: 160%;
}

.page_title, .subtitle{
  text-align: left;
  margin-left: 10%;
  margin-top: 50px;
}	


.writing, .posts {
  text-align: left;
  margin-left: 10%;
  color: #232323;
  width: 80%;
}	

.frame, .frame_no_border {
  border-top: solid;
  border-color: #737373;
  border-width: 1px;
  width: 80%;
  padding-bottom: 50px;
  display: table;
  margin: auto;
}

.frame_no_border {
  border-width: 0px;
}

/* Blocks */
.block {
  background-color: #ffecd6;
  border-radius: 5px;
  border-color: #f3883c;
  border-style: solid;
  border-width: 1px;
}



/* Footer style */
.footer {
	margin: auto;
	display: table;
	margin-top: 80px;
	margin-bottom: 50px;
}

.icon {
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}

/* Nav Bar style */
.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav_bar li {
  float: right;
}

@media only screen and (max-width: 600px) {
  .nav_bar {
	display: inline-block;
	margin: auto;
  }

}

.nav_bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar li a:hover {
  color: white;
  background-color: #f3883c;
}





/* Title style */
.title_card {
  background-image: url(img/title_card.png);
  background-size: 100% 100%;
  margin-top: 20px;
  padding-bottom: 10px;
}

.title_link:link, .title_link:visited{
  color: white;
}

.title_card h3 {
  text-align: center;
  font-size: 28px;  
}

.title {
  padding: 50px;
  margin: auto;
  display: table;
}

.title h1 {
  font-family: 'Playfair Display';font-size: 60px;
  color: white;
  display: inline;
  background-color: #E86100;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .title h1{	
    font-size: 50px;
  }
  
}

.right_card {
	display: none;
  }  


/* Footer */
footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 12px;
}