
/* Link style */
a:link, a:visited {
  color: #232323;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  text-decoration-color: #f3883c;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

.link {
  text-decoration: underline;
}

.link a:hover, .link a:active {
  color: #f3883c;
}

/* Content style*/
h1, h2, h3, p, table, li {
  font-family: 'Source Sans Pro';
  line-height: 160%;
}

.page_title, .subtitle{
  text-align: left;
  margin-left: 10%;
  margin-top: 50px;
}	


.writing, .writing_grey, .thumb {
  text-align: left;
  margin-left: 10%;
  color: #232323;
  width: 56%;
  text-align:justify;
  font-size: 17px;
}	

.writing_grey {
  color: #737373;	
}

.tech {
  font-family: Courier New;	
}


.frame, .frame_grey {
  width: 100%;
  padding-bottom: 50px;
  display: table;
  margin: auto;
}

.frame_grey {
  background-color: #f0f0f0;
}

/* Blocks */
.block {
  background-color: #ffecd6;
  border-radius: 5px;
  border-color: #f3883c;
  border-style: solid;
  border-width: 1px;
}

/* Nav Bar style */
.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav_bar li {
  float: right;
}

@media only screen and (max-width: 600px) {
  .nav_bar {
	display: inline-block;
	margin: auto;
  }

}

.nav_bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar li a:hover {
  color: white;
  background-color: #f3883c;
}





/* Title style */

.title_link:link, .title_link:visited{
  color: black;
}

.title_card {
  margin-top: 30px;
}

.title_card h3 {
  text-align: center;
  font-size: 20px;  
}

.title_card h2 {
  font-size: 20px;  
}

.title {
  padding: 20px;
  margin: auto;
  display: table;
}

.title h1 {
  font-size: 25px;
  color: black;
  display: inline;
  padding: 10px;
}

.footer {
	margin: auto;
	display: table;
	margin-top: 50px;
	margin-bottom: 50px;
}

.icon {
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}


@media only screen and (max-width: 600px) {
  .right_card {
	display: none;
  }
}

.left_card .profile {
  display: table;
  margin: auto;
}

.right_card, .left_card {
	  display: inline-block;	  
	  margin-left: 5%;
	  vertical-align: top;
	}
.right_card {
  width: 70%;
}
 





/* Hover thumbnails */
.container{
  margin-left: 10%;	
}

.content {
  position: relative;
  float: left;
  margin-right: 3%;
  
}

.content .content-overlay {
  
  overflow: hidden;
  background: rgba(0,0,0,0.7);
  position: absolute;
  width: 220px;
  height: 220px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 220px;
  height: 220px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}
