
/* Link style */
a:link, a:visited {
  color: #232323;
  text-decoration: none;
}

a:hover, a:active {
  color: #232323;
  text-decoration: underline;
  text-decoration-color: #f3883c;
}

.sub_link {
  text-align: center;
  font-size: 28px;
}

.link {
  text-decoration: underline;
}

.link a:hover, .link a:active {
  color: #f3883c;
}

/* Content style*/
h2, h3, p, table, li {
  font-family: 'Montserrat';
}

.page_title, .subtitle{
  text-align: left;
  margin-left: 10%;
  margin-top: 50px;
}	


.writing, .posts {
  text-align: left;
  margin-left: 10%;
  color: #232323;
  width: 80%;
}	

.frame {
  border-top: solid;
  padding-bottom: 50px;
  border-width: 1px;
  width: 80%;
  display: table;
  margin: auto;
  border-color: #737373;
}

/* Blocks */
.block {
  background-color: #ADD8E6;
  border-radius: 5px;
  border-color: #318CE7;
  border-style: solid;
  border-width: 1px;
}



/* Footer style */
.footer {
	margin: auto;
	display: table;
	margin-top: 110px;
	margin-bottom: 110px;
}

.icon {
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}

/* Nav Bar style */
.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav_bar li {
  float: right;
}

@media only screen and (max-width: 600px) {
  .nav_bar {
	display: inline-block;
	margin: auto;
  }

}

.nav_bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar li a:hover {
  color: white;
  background-color: #f3883c;
}





/* Title style */
.title {
  padding: 50px;
  margin: auto;
  display: table;
}

.title h1 {
  font-family: 'Playfair Display';font-size: 60px;
  color: white;
  display: inline;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
  .title h1{
    font-size: 50px;
  }
}

.title .l2 {
	animation-delay: 0.05s;
}
.title .l3 {
	animation-delay: 0.1s;
}
.title .l4 {
	animation-delay: 0.15s;
}
.title .l5 {
	animation-delay: 0.2s;
}
.title .l6 {
	animation-delay: 0.25s;
}
.title .l7 {
	animation-delay: 0.3s;
}
.title .l8 {
	animation-delay: 0.35s;
}
.title .l9 {
	animation-delay: 0.4s;
}
.title .l10 {
	animation-delay: 0.45s;
}


@keyframes fade {
  0% {background-color: white;}
  100% {background-color: #E86100;}
}
